/node_modules
/public/hot
/public/storage
/public/proposal
/public/images
/public/html_contoh
/public/file_excel
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
