.btn-new {
    color: #dea057;
    background-color: #572423;
    border-color: #dea057;
  }
  .btn-new:hover {
    color: #572423;
    background-color: #a3610a;
    border-color: #572423;
    box-shadow: 1px 1px 2px 2px #572423;
  }

.nav-pills2 .nav-link {
    background: none;
    border: 2;
    border-radius: 0.25rem;
    border-color: #572423;
  }

.nav-pills2 .nav-link:hover {
      color: #572423;
      background-color: #a3610a;
      border-color: #572423;
      box-shadow: 1px 1px 2px 2px #572423;
}
  
.nav-pills2 .nav-link.active,
.nav-pills2 .show > .nav-link {
    color: #572423;
    background-color: #572423;
    border-color: #572423;
  }

.bg-nav-pills2 {
    background-color: #dea057;
    border: 2;
    border-color: #572423;
  }

  .ribbon-box2 .ribbon {
    position: relative;
    clear: both;
    border: 2;
    border-color: #572423;
    padding: 5px 12px;
    -webkit-box-shadow: 2px 5px 10px rgba(49, 58, 70, 0.15);
            box-shadow: 2px 5px 10px rgba(49, 58, 70, 0.15);
    color: #572423;

  }

  .card-new {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--ct-card-bg);
    background-clip: border-box;
    border: 5px solid #a3610a;
    -webkit-box-shadow: 4px 6px 12px rgba(49, 58, 70, 0.15);
            box-shadow: 4px 6px 12px rgba(49, 58, 70, 0.15);
    border-radius: 0.25rem;
  }

  .ribbon-box .ribbon-new {
    background: #a3610a;